<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading"> Grow your business with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text">
              <figure>
                <img src="image/about.svg" alt="herosection_image">
              </figure>
        </div>
        {{!-- right side --}}
             
              <div class="col-md-6  col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
               <h1>WE ARE THE PROFESSIONAL Developers✌</h1>
            <p>We are the Team of <span class="bold-style">
            My Website</span>
           A great welcome message is personal,heartfelt, and tailored to the individual or company. It should include a greeting, an expression of joy at the new connection, and a bit about what to expect from the relationship. You can also offer a special incentive to encourage them to get started.</p>
            
            <button class="btn-style btn-primary">Read more</button>
        
            </div>
          </div>
        </div>
      </div>
    </div>